/* 看板公共样式 */
* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  box-sizing: border-box;
}

li {
  list-style: none
}

label {
  margin-right: 12px;
}

.right-operate {
  float: right;
  margin-right: 8px;
  cursor: pointer;
}

.right-operate span {
  display: inline-block;
  padding: 2px 8px;
  margin-top: 12px;
  border: 1px solid #797979;
  border-radius: 4px;
}

.right-operate span:hover {
  background: #0365cc;
  color: #fff;
}

.right-operate span.active {
  background: #0365cc;
  color: #fff;
}

.select-distributeds {
  margin: 12px 0;
}

.select-distributeds label {
  margin-right: 12px;
}

.select-distributeds input {
  display: inline-block;
  margin-right: 8px;
}

.title {
  background: #d7d7d7;
}

.title h3 {
  display: inline-block;
  padding: 6px 12px;
  margin: 6px 0 6px 12px;
  font-weight: normal;
  font-size: 12px;
  border: 1px solid #797979;
  border-radius: 4px;
}

label {
  font-size: 12px;
}

.query-header {
  display: flex;
  justify-content: space-between;
}

.query-header p {
  width: 60px;
  height: 22px;
  margin: 12px 8px 0 8px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #797979;
  border-radius: 4px;
  cursor: pointer;
}

.query-header p:hover {
  background: #0365cc;
  color: #fff;
}

/* 看板样式 */
.work-dashboard-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.todo-content {
  width: 100%;
  margin-bottom: 24px;
}

.todo-list {
  display: flex;
}

.email-type-content,
.distributed-content {
  flex: 1;
  padding: 5px;
}

.work-dashboard-wrapper #bar-content,
.work-dashboard-wrapper #fan-line-content {
  overflow: hidden;
  height: calc(100vh - 300px);
}

.todo-content .todo-item {
  flex: 1;
  margin: 5px;
  padding: 12px;
  border: 1px solid #797979;
}

.todo-item h3 {
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 12px;
}

.complete-ratio {
  display: flex;
  height: 50px;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}

.finish-box {
  border: 1px solid #797979;
}

.total-box {
  margin-left: -1px;
  border: 1px solid #797979;
}

.top-content {
  border: 1px solid #797979;
}

.top-content .title {
  border: 1px solid #797979;
  border-bottom: 0;
}

.top-content .top-list {
  padding: 12px;
  border: 1px solid #c4c4c4;
  border-top: 0;
  margin: 0;
}

.top-list li {
  line-height: 32px;
}